* {}

.container {
    margin: auto;
    width: max-content;
}

.circle-container {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-gap: 5%;
    position: absolute;
    bottom: 0;
}

.info-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #43a047;
    border-radius: 50%;
    opacity: 0.8;
}

header {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: start;
    justify-items: start;
    padding: 1%;
    margin-right: 15%;
    grid-gap: 60px;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
    color: #201f1f;
    opacity: 0.9;
}

h2 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: lighter;
    color: #424242;
    opacity: 0.9;
}

main h2 {
    color: #424242;
}
.github{
    color: plum;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    color: white;
}

.info-btn {
    color: white;
}


.info-container h3{

    width: 200px;


}
.milestone i{

    width: 48px;


}

.first-circle {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}

.second-circle {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}

.third-circle {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
}

.fourth-circle {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
}

.milestones-container {
    padding: 2%;
    margin: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 55px;
    grid-auto-flow: column;
    position: relative;
}

.milstone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
}

/* 
    #d32f2f   red
    #ff5722    orange
 */

.milestone {
    border: 5px solid white;
    background-color: #43a047;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 5%;
    text-align: center;
    display: grid;
    align-content: center;
    opacity: 0.8;
}

button {
    height: 200px;
    width: 200px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-36 {
    font-size: 36px;
}