*{
    
}
.container {
    margin: auto;
    
    width: max-content;
}
.circle-container{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-gap: 5%;
    position: absolute;
    bottom: 0;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: burlywood;
    border-radius: 50%;
    opacity: 0.8;   

   
}
header {
    display: grid;
    grid-template-columns: 30% 60%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15%;

}
h1{
    font-size: 40px;
    font-weight: lighter;
    color: #201f1f;
    opacity: 0.9;
}
h2 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: lighter;
    color: #ac5c51;
    opacity: 0.9;
}
.info-btn{
    color: white;
}
.inner-circle {

    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    
}
.first-circle{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}
.second-circle{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}
.third-circle{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
}
.fourth-circle{
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
}


.milestones-container {
    padding: 2%;
    margin: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 55px;
    grid-auto-flow: column;
    position: relative;
    
}

.milstone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    
}

.milestone {
    border: 5px solid white;
    background-color: burlywood;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 5%;
    text-align: center;
    display: grid;
    align-content: center;
    opacity: 0.8;
        
}


button{
    height: 200px;
    width: 200px;
}

.material-icons.md-48 { font-size: 48px; }
.material-icons.md-36 { font-size: 36px; }